body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
header p {
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 24px;
}

hr {
    width: 100%;
    border: 1px solid black;
    margin: 10px auto;
}

p, li {
    font-size: 14px;
    margin-left: 30px;
}

h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
}

.center {
    text-align: center;
}

.education-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 10px;
    margin-left: 0px;
}


.date {
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
}


ul.resume-list {
    list-style: none;
    padding-left: 20px;
}

ul.resume-list > li {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0; 
}

ul.resume-list > li.indent {
    font-weight: normal;
    margin-left: 40px;
}
